
.header{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}
.menu{
    display: flex;
    width: 100%;
    height: 35px;
    background-color: yellow;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    padding-left: 20px;
    
    
}
.menu input{
    border-radius: 10px;
    border: 2px solid white;
    height: 20px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    flex: 1;
}

.logo img {
    width: 100%;
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
}

.logo-caption {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

/* đây là phần bên dưới chia thành 3 phần */
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h3 {
    display: inline-block;
    border-left: 4px solid aqua;
    padding-left: 6px;
}

.new {
    flex: 1 1 300px;
    background-color: #f1f1f1;
    padding: 20px;
}

.thong-bao {
    flex: 1 1 300px;
    background-color: #e6e6e6;
    padding: 20px;
}

.trai-nghiem {
    flex: 1 1 300px;
    background-color: #dcdcdc;
    padding: 20px;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
}

.new-menu a,
.thong-bao-menu a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}
.new .noi-dung{
    display: flex;
}
.new img{
    width: 200px;
    height: 190px;
    padding-right: 10px;
}

.trai-nghiem img {
    width: 100%;
    margin-top: 10px;
}

/* căn chỉnh phần thông báo */
.thong-tin{
    display:flex;
    flex-direction: column;

}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    /* padding: 10px; */
    text-align: center;
}

td span {
    display: block;
    font-weight: bold;
    background-color: red;
}

/* đây là phần cuối cùng */
.bottom-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

.bottom-img img {
    
    margin-bottom: 10px;
    height: auto;
    width: 200px;
}
/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    margin-right: 10px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.anh-dai-bieu {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.anh-dai-bieu img {
    height: 100px; 
    margin-right: 10px;
} */